* {
    box-sizing: border-box;
}
@media (max-width:1600px) {
.register-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.register-form {
    background-color: #222831;
    border: #EEEEEE 0.8rem solid;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: 35rem;
}

.register-logo-wrapper {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
}

.register-logo {
    height: 100%;
    width: 100%;
}
.register-double-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%
}

.register-text-input {
    background-color: #EEEEEE;
    font-size: 1rem;
    border: #222831 2px solid;
    border-radius: 0.4rem;
    padding: 0.5rem;
    box-shadow: 0 0 0 0.3rem #EEEEEE;
    width: 85%;
}

.register-detail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
}

.register-text {
    margin-bottom: 0.5rem;
}

.register-small-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    color: #EEEEEE;
}

.register-date-input {
    background-color: #EEEEEE;
    font-size: 1rem;
    border: #222831 2px solid;
    border-radius: 0.4rem;
    padding: 0.5rem;
    width: 88%;
    box-shadow: 0 0 0 0.3rem #EEEEEE;
}

.register-account-data-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.register-big-container {
    background-color: #EEEEEE;
    font-size: 1rem;
    border: #222831 2px solid;
    border-radius: 0.4rem;
    padding: 0.5rem;
    box-shadow: 0 0 0 0.3rem #EEEEEE;
    width: 95%;
    margin-top: 2.5rem;
}

.register-accept-button {
    background-color: #00ADB5;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    max-width: 15rem;
    margin-top: 2rem;
    cursor: pointer;
}

.register-accept-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.6rem;
}

.register-login-link {
    color: #00ADB5;
}
}