.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.webcam {
    border-radius: 2rem;
    border: #00ADB5 0.5rem solid;
    width: 100%;
    aspect-ratio: 1 / 1;   /* KWADRAT */
    object-fit: cover;     /* przytnij nadmiar, żeby wypełnić */
}


.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 30vw;
}

.screanshotsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border: #EEEEEE solid 0.5rem;
    text-align: center;
    font-size: 1.8rem;
    color: #EEEEEE;
    border-radius: 2rem;
    width: 40%;
    height: 50%;
}

.screenshot {
    height: 30%;
    border-radius: 2rem;
}

.button {
    padding: 1rem 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 2rem;
    width: 80%;
    background-color: #222831;
    color: #EEEEEE;
    border: #EAC435 0.5rem solid;
    cursor: pointer;
}

.statusWrapper {
    color: #EEEEEE;
    font-weight: bold;
    text-align: center;
}